.cart{
    background-color: #edc486;
    padding: 25px;
    position: sticky;
    top: 0;
}
/* .cart p {
    font-size: 17px;
} */
.clear-cart{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 56px;
    margin: 10px auto;
    align-items: center;
    background: #ff3030;
    color: white;


}
